In [9]:
import pandas as pd
from taxipred.utils.constants import DATA_PATH

df = pd.read_csv(DATA_PATH/"cleaned_taxi_trip_pricing.csv")
df

,Trip_Distance_km,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Trip_Duration_Minutes,Trip_Price
0,19.35,Weekday,3.0,Low,Clear,3.56,53.82,36.2624
1,36.87,Weekend,1.0,High,Clear,2.70,37.27,52.9032
2,8.64,Weekend,2.0,Medium,Clear,2.55,89.33,60.2028
3,3.85,Weekday,4.0,High,Rain,3.51,5.05,11.2645
4,41.79,Weekend,3.0,High,Clear,4.60,86.95,88.1328
...,...,...,...,...,...,...,...,...
647,5.49,Weekend,4.0,Medium,Clear,2.39,58.39,34.4049
648,45.95,Weekday,4.0,Medium,Clear,3.12,61.96,62.1295
649,7.70,Weekday,3.0,Low,Rain,2.08,54.18,33.1236
650,47.56,Weekday,1.0,Low,Clear,2.67,114.94,61.2090
651,22.85,Weekend,3.0,Medium,Clear,4.34,29.69,45.4437